[submodule "src/contrib/libiconv-win-build"]
	path = src/contrib/libiconv-win-build
	url = https://github.com/kiyolee/libiconv-win-build.git
[submodule "src/contrib/SingleApplication"]
	path = src/contrib/SingleApplication
	url = https://github.com/itay-grudev/SingleApplication.git
[submodule "src/contrib/rapidcsv"]
	path = src/contrib/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "src/contrib/sentry-native"]
	path = src/contrib/sentry-native
	url = https://github.com/getsentry/sentry-native.git
[submodule "src/contrib/codec2"]
	path = src/contrib/codec2
	url = https://github.com/drowe67/codec2.git
[submodule "src/contrib/leveldb"]
	path = src/contrib/leveldb
	url = https://github.com/google/leveldb.git
[submodule "src/contrib/wsjt-x"]
	path = src/contrib/wsjt-x
	url = https://code.gekkofyre.io/amateur-radio/wsjt-x.git
[submodule "src/contrib/Gist"]
	path = src/contrib/Gist
	url = https://github.com/adamstark/Gist.git
[submodule "src/contrib/Hamlib"]
	path = src/contrib/Hamlib
	url = https://github.com/Hamlib/Hamlib.git
[submodule "src/contrib/opus"]
	path = src/contrib/opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "src/contrib/qxmpp"]
	path = src/contrib/qxmpp
	url = https://github.com/qxmpp-project/qxmpp.git
[submodule "src/contrib/WinToast"]
	path = src/contrib/WinToast
	url = https://github.com/mohabouje/WinToast.git
[submodule "src/contrib/libopusenc"]
	path = src/contrib/libopusenc
	url = https://gitlab.xiph.org/xiph/libopusenc.git
[submodule "src/contrib/kissfft"]
	path = src/contrib/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "src/contrib/nuspell"]
	path = src/contrib/nuspell
	url = https://github.com/nuspell/nuspell.git
[submodule "src/contrib/aria2"]
	path = src/contrib/aria2
	url = https://github.com/aria2/aria2.git
[submodule "src/contrib/c-ares"]
	path = src/contrib/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "src/contrib/FFmpeg"]
	path = src/contrib/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "src/contrib/taglib"]
	path = src/contrib/taglib
	url = https://github.com/taglib/taglib.git
[submodule "src/contrib/language/myspell/dictionaries"]
	path = src/contrib/language/myspell/dictionaries
	url = https://github.com/LibreOffice/dictionaries.git
[submodule "src/contrib/extra-cmake-modules"]
	path = src/contrib/extra-cmake-modules
	url = https://invent.kde.org/frameworks/extra-cmake-modules.git
[submodule "src/contrib/marble"]
	path = src/contrib/marble
	url = https://invent.kde.org/education/marble.git
